.container{
    width: 500px;
    margin: 0 auto;
    margin-top: 70px;
    border: 1px solid black;
    border-radius:8px;
    padding: 20px;
}

select {
    height: 32px;
    border-radius: 6px;
}
form{
    width: 450px;
    height:100%;
    margin: 0 auto;
    padding-top: 20px;
}
.contint{
    width: 100%;
    display: block;
}
.flr{
    float: left;
    width: 125px;
}
p{
    margin-top: 6px;
    font-weight: 700;
}
.fbutton{
    margin-left: 80px;
}
